//- doctype html(lang='en')
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  block title
    title Kira-Kari
  link(rel='shortcut icon', href='favicon.ico')
  block style-link
    link(link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&amp;subset=cyrillic,latin-ext" rel="stylesheet")
    link(href='css/normalize.css', rel='stylesheet', type='text/css')
    link(href='css/style.css', rel='stylesheet', type='text/css')