// цвет кнопки
$btn-bg-black: #000000
$btn-bg-gray: #cacaca
$btn-bg-color: $btn-bg-black
// цвет текста кнопки
$btn-font-white: white
$btn-font-color: $btn-font-white
// размер шрифта кнопки
$btn-font-size: 18
// межбуквенное расстояние текста кнопки
$btn-lt-sp: 4 // 4%
// общий стиль для кнопки
=btn($btn-bg-color)
  box-sizing: border-box
  height: 64 * 1px
  color: $btn-font-color
  font:
    size: $btn-font-size / $font-size * 1rem
    weight: bold
  letter-spacing: $btn-font-size * $btn-lt-sp / 100 * 1px 
  text:
    transform: uppercase
    align: center
  cursor: pointer
  outline: none
  background-color: $btn-bg-color
  transition: all 0.3s ease

  &:hover
    background-color: lighten($btn-bg-color, 8%)

  &:active 
    background-color: lighten($btn-bg-color, 25%)
  
=btn--non-clickable // не активная кнопка 
  +btn($btn-bg-gray)
