// используем мап (ассоциативный массив) для задания цвета статусу отправки формы
$status-colors: (primary: #000,  success: #27BA6C,  info: #03a9f4,  warning: #FF8833, danger: #ff1a1a)

.message
  @each $status, $color in $status-colors
    &--#{$status}
      background-color: $color

// поле выбора списка
.product__size-field  
  // +font-title($line-height, $font-size, 700)
  @extend %font-title
  letter-spacing: 100%
  +appearance()
  cursor: pointer
  display: block
  background-color: transparent
  width: 100%
  height: 100%
  text-align: initial
  padding-left: 37%
  // box-sizing: border-box
  @media screen and (max-width: 300px)
    padding-left: 26%
  
.option-first 
  // +font-title($line-height, $font-size, 500)
  @extend %font-title
  font-weight: 500
  letter-spacing: 100%
  cursor: pointer

.select-option
  // +font-title($line-height, $font-size, 500)
  @extend %font-title
  font-weight: 500
  letter-spacing: 100%
  cursor: pointer