// изменение иконки
=icon-change-hover
  // изменение размера иконки при наведении
  transform: scale(1.5)
  transform-origin: 50% 50%
  transition: all 0.3s ease
    
=icon-change-active
  // изменение размера иконки при клике
  transform: scale(1.3)
  transform-origin: 50% 50%
  transition: all 0.3s ease
  @media screen and (min-width: $md)
    // 7' Tablet 600px
    transform: scale(1.3)
    transform-origin: 50% 50%
    transition: all 0.3s ease

// квадратные пропорции иконок
=icon-square($i-width, $i-height: $i-width)
  width: $i-width
  height: $i-height
  cursor: pointer

  // изменение иконки
  &:hover
    +icon-change-hover

  &:active
    +icon-change-active

=icon-square2($i-width, $i-height: $i-width)
  width: $i-width
  height: $i-height
  cursor: pointer
  transition: all 0.3s ease

// изменение контраста иконки при наведении  
=hover
  // filter: contrast(0%)
  cursor: pointer
  transition: all 0.3s ease

// изменение контраста иконки при клике
=active 
  // filter: contrast(40%)
  cursor: pointer
  transition: all 0.3s ease
