.main-menu
  background-color: #fff

  // обертка меню
  &__wrapper
    // +gl0
    width: 100%
    padding: 4px
    // 360px
    @media screen and (min-width: $sm)
      padding: 0 12px
    // 600px  
    @media screen and (min-width: $md)
      padding: 0 34px
    // 1024px
    @media screen and (min-width: $lg) 
      padding: 0 66px
    @media screen and (min-width: $xl)
      padding: 0 100px
    @media screen and (min-width: $xxl)
      padding: 0 108px

// меню для десктопа
.main-nav
  // +gl1
  max-width: 1704px
  margin: 0 auto
  display: flex
  justify-content: space-between

  // высота меню == helpers
  @extend %menu-height
  
  // левая часть меню для десктопа
  &__left
    // +gl1
    display: flex
    justify-content: space-between

  // правая часть меню для десктопа
  &__right
    // +gl2
    order: 1
    display: flex
    justify-content: space-between

  // пункт меню
.nav-item
  // +gl3
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  color: inherit
  cursor: pointer
  text-transform: uppercase
  font-weight: bold
  font-size: (12 / $font-size) + 0rem

  // отступы в меню для десктопа
  &__top
    // внутренние боковые отступы
    $padd-item: 10
    margin-right: (40 - $padd-item * 2) + 0px
    padding-left: $padd-item + 0px
    padding-right: $padd-item + 0px
  // прячем названия пунктов меню, остаются иконки
  &__top > span
    @media screen and (max-width: $lg - 1px)
      display: none 
  
  &:last-child
    margin-right: 0px  

  // иконка меню
  &:hover
    +hover
    img
      // изменение иконки при наведении
      +icon-change-hover 

  &:active
    +active
    img
      // изменение иконки при клике
      +icon-change-active 

  img
    // +gl4
    +icon-square(24px) 
    margin-bottom: 6px

  &__top-1
    // 1024px
    @media screen and (max-width: $lg - 1px)
      display: none
  &__top-2
    @media screen and (max-width: $lg - 1px)
      display: none
  &__top-4
    @media screen and (max-width: $lg - 1px)
      display: none
  &__top-5
    @media screen and (max-width: $lg - 1px)
      display: none

.logo
  // +gl2
  order: 1
  display: flex
  justify-content: center
  align-items: center

  .logo-link
    // +gl2
    display: box

    img
      // +gl3
      margin: auto
      @media screen and (max-width: $sm - 1px)
        width: 92%

// пункт меню «Поиск»
.nav-item__top-3
  position: relative

  // анимация поля поиска
  &:active .search-form-container

// @keyframes searchFade
//   from
//     width: 0
//   to
//     width: 360px

// форма поиска
.search-form-container
  position: absolute
  left: 6px
  top: 31px
  z-index: 2
  cursor: auto
  // анимация
  // +animation(searchFade)
  // animation: searchFade 1.5s 0.1s linear
  // width: 0
  display: none

.search-form
  position: relative

.search-field
  width: 360px
  // width: 0
  height: 50px
  line-height: 50px
  font-size: 16px
  padding-left: 16px
  background-color: #ffffff
  border:
    width: 1px
    color: #CACACA
    style: solid

  .icon-search
    // +gl3
    width: 24px
    height: auto

.search-submit
  // +gl1
  display: block
  position: absolute
  right: 1px
  top: 1px
  width: 47px
  height: 48px
  background-color: #ffffff
  cursor: pointer
  // иконка поиска
  svg
    // +gl3
    width: 24px
    height: auto
    overflow: auto
    transition: all 0.3s ease

  &:hover svg
    width: 36px
    height: auto

  &:active svg
    width: 30px
    height: auto
    fill: red