// меню внизу
.menu-bottom
  position: fixed
  bottom: 0
  width: 100%
  background-color: #ffffff
  
// меню на мобильном внизу
.mob-nav
  height: 58px
  display: flex
  justify-content: space-around
  +media($lg)
    display: none
  +media($md) // 600px
    height: 97px
  // @media screen and (max-width: $lg - 1px) //1024
  

// обертка меню
.wrapper-mob
  // +gl0
  width: 100%
  padding: 0 4px
  +media($md) // 360px
    padding: 0 12px
  +media($lg) // 600px
    padding: 0 34px

  // пункт меню
.nav-item
  // +gl3

  &__bottom
    font-size: 9 / $font-size + 0rem

  &__bottom--3
    @media screen and (max-width: $lg - 1px) // 1024px
      display: none
  &__bottom--6
    @media screen and (max-width: $lg - 1px)
      display: none

