// секция карточек продуктов
.product-list
  padding-top: 25px
  // отступ сверху от меню
  // 7' Tablet 600px
  +media($md)
    padding-top: 35px

  // стили заголовка страницы product list
  &__title
    +font-title(20px, 16, 700)
    margin-bottom: 30px
    // отступ сверху на странице product list
    
    // 7' Tablet 600px
    +media($md)
      padding-top: 35px
      margin-bottom: 37px

    // iPad air 1024px
    +media($lg)
      font-size: 24px
      margin-bottom: 41px

    // desktop 1280px
    +media($xl)
      margin-bottom: 72px

.product-list-items-container
  margin: 0 auto
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  @extend %product-list-layout
  @media screen and (max-width: $sm - 1px)     
    flex-direction: column
    align-items: center

.product-list-item
  // $gl0
  margin-bottom: 36px
  width: 175px
  // 360px mobile Galaxy S8 до 7' Tablet 600px
  +media($sm)
    // width: 360px

  // 7' Tablet более 600px
  +media($md)
    width: 290px

  // iPad air  более 1024px
  +media($lg)
    width: 435px

  // desktop  более 1280px
  +media($xl)
    width: 505px

  &__image
    // $gl1
    display: block
    max-width: 100%
    height: 219px
    +bg()

    // 360px mobile Galaxy S8 до 7' Tablet 600px
    +media($sm)

    // 7' Tablet более 600px
    +media($md)
      height: 369px

    // iPad air  более 1024px
    +media($lg)
      height: 544px

    // desktop  более 1280px
    +media($xl)
      height: 632px