.product-list-img-one-container
  margin-top: 36px
  margin-bottom: 50px

// одиночное фото продукта 
.product-list__image-one
  // +gl1
  margin: 0 auto
  display: block
  width: 100%
  // height: 450px
  height: auto
  +bg()

  // стили фонового фото
  // 360px mobile Galaxy S8
  +media($sm)
    max-width: none
    width: 360px
    height: 450px

  // 7' Tablet более 600px
  +media($md)
    width: 600px
    height: 730px

  // iPad air  более 1024px
  +media($lg)
    width: 890px
    height: 1077px

  // desktop более 1280px
  +media($xl)
    width: 1080px
    height: 1304px
  
  // background-image: url("#{$img-list}Acne-Studios/Acne-Studios-0-360.jpg")

  // +media($sm)   // 360px mobile Galaxy S8
  //   background-image: url("#{$img-list}Acne-Studios/Acne-Studios-0-600.jpg")

  // +media($md)  // 7' Tablet более 600px
  //   background-image: url("#{$img-list}Acne-Studios/Acne-Studios-0-1024.jpg")

  // +media($lg) // iPad air  более 1024px
  //   background-image: url("#{$img-list}Acne-Studios/Acne-Studios-0-1280.jpg")