//- основное текстовое описание продукта
  section.product-about
    header.product-about-header
      // иконка шаринг в соцсети
      button.icon.btn-share(type='submit')
        img(width='24', src='img/icon/icon-share.svg', alt='')
      // название продукта
      .product-about-top__container
        h3 Balenciaga
        span white top
      // иконка добавить продукт в изранное
      button.icon.btn-star(type='submit')
        img(width='24', src='img/icon/icon-star.svg', alt='')
    // текстовая часть основного описания продукта
    p A nod to &apos;40s silhouettes, Saloni&apos;s dress has a nipped-in waist and falls to a universally flattering A-line skirt.
    // код продукта
    span #KK032571

mixin product-about(hide)
  section.product-about(class!=attributes.class)
    header.product-about-header
      // иконка шаринг в соцсети
      button.icon.btn-share(type='submit')
        |
        |
        //- img(width='24', src='img/icon/icon-share.svg', alt='')
        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class="icon-share" d="M19 8.1v14c0 .2-.2.4-.5.4h-13.1c-.3 0-.5-.2-.5-.5v-14c0-.3.2-.4.5-.4h3.6c.2 0 .5.2.5.5s-.2.5-.5.5h-3.1v12.9h12.1v-12.9h-3c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h3.5c.3 0 .5.2.5.5zm-3.8-3.3l-2.9-3.2s-.1-.1-.3-.1c-.2 0-.4.1-.4.1s-2.2 2.5-2.9 3.3c-.2.2-.2.5 0 .7.2.2.5.2.7 0l.1-.1 2-2.2v10.9c0 .3.2.5.5.5s.5-.2.5-.5v-11l2 2.3c.2.2.5.2.7 0 .2-.2.2-.5 0-.7z"/></svg>
      // название продукта
      .product-about-top__container
        h3.product-about-top__header Balenciaga
        |
        |
        span.product-about-top__subheader white top
        
      // иконка добавить продукт в изранное
      button.icon.btn-star(type='submit')
        |
        |
        //- img(width='24', src='img/icon/icon-star.svg', alt='')
        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class="icon-star" d="M20 9.5c.4 0 .5.2.5.6 0 .2-.2.4-.4.6l-3.5 3.9.9 5.4v.2c0 .4-.2.6-.4.6s-.4 0-.4-.2l-4.7-2.6-4.7 2.6c0 .2-.2.2-.4.2s-.2 0-.4-.2l-.2-.4v-.2l1.1-5.4-3.9-3.9c-.2-.2-.2-.4-.2-.6 0-.2.2-.4.5-.6l5.1-.7 2.3-5c.4-.2.5-.4.7-.4s.4.2.5.4l2.3 5 5.3.7zm-4.8 4.4l3.2-3.2-4.4-.6-1.9-4.1-1.9 4.1-4.4.7 3.2 3.2-.7 4.6 3.9-2.2 3.9 2.2-.9-4.7z"/></svg>
    // текстовая часть основного описания продукта
    p.product-about__text
      | A nod to &apos;40s silhouettes, Saloni&apos;s dress has a nipped-in waist and falls to a universally flattering A-line skirt.
    // код продукта
    |
    |
    span.product-about__code #KK032571

//- применение
  +product-about(class='layout--hide')