//- === слайдер продукта ===
//- section.product-slider.layout--hide
//- h3.product-title Style it
//- // контейнер для слайдера на странице карточки/описания продукта
//- .product-slider__container
//-   // контейнер для фото слайдера на странице карточки/описания продукта
//-   .product-slider__container-image
//-     picture.product-image.product-slider-image
//-       source(srcset='', type='image/')
//-       |
//-       |
//-       img(src='', alt='', sizes='', srcset='')
//-   // отметка из социальной сети
//-   .product-slider__share
//-     |
    
//-     a.product-slider__social @marialopes
//-     |  style it
//-   // управление страницами слайдера
//-   nav.product-slider__nav
//-     button.product-slider__nav-item
//-     button.product-slider__nav-item
//-     button.product-slider__nav-item
//-     button.product-slider__nav-item
//-     button.product-slider__nav-item

mixin productSlider(hide)
 section.product-slider(class!=attributes.class)
  h3.product-title Style it
  // контейнер для слайдера на странице карточки/описания продукта
  .product-slider__container
    // контейнер для фото слайдера на странице карточки/описания продукта
    .product-slider__container-image
      picture.product-image.product-slider-image
        source(srcset='', type='image/')
        |
        |
        img(src='', alt='', sizes='', srcset='')
    // отметка из социальной сети
    .product-slider__share
      |
      |
      a.product-slider__social @marialopes
      |  style it
    // управление страницами слайдера
    nav.product-slider__nav
      button.product-slider__nav-item
      button.product-slider__nav-item
      button.product-slider__nav-item
      button.product-slider__nav-item
      button.product-slider__nav-item

//- применение 
//- +productSlider(class='layout--hide')