//- выбор размера продукта и добавление в корзину product-add-to-shopbag
//- section.product-buy
//-   // цена продукта
//-   .product__price 210.00 &euro;
//-   // выбор размера продукта
//-   .product__size-container
//-     label.product__size-label(for='select-size')
//-     select#select-size.product__size-field(name='select-size')
//-       option.option-first(value='') Size
//-       option.select-option(value='40') 40
//-       option.select-option(value='41') 41
//-       option.select-option(value='42') 42
//-       option.select-option(value='43') 43
//-     img.icon.icon-arrow-down(width='24', src='img/icon/icon-arrow-down.svg', alt='')

//-   // добавление продукта в корзину
//-   button.btn.add-to-basket(type='submit')
//-     img.icon-plus(width='24', src='img/icon/icon-plus.svg', alt='')
//-     span add to shopping bag

mixin product-buy(hide)
  section.product-buy(class!=attributes.class)
    // цена продукта
    .product__price 210.00 &euro;
    |
    |
    // выбор размера продукта
    .product__size-container
      label.product__size-label(for='select-size')
      select#select-size.product__size-field(name='select-size')
        option.option-first(value='') Size
        option.select-option(value='40') 40
        option.select-option(value='41') 41
        option.select-option(value='42') 42
        option.select-option(value='43') 43
      |
      |  
      <svg xmlns="http://www.w3.org/2000/svg" width='24' viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class='icon icon-arrow-down' d="M16.6 8.6l-4.6 4.6-4.6-4.6-1.4 1.4 6 6 6-6-1.4-1.4z"/></svg>  
    |
    |
    // добавление продукта в корзину
    button.btn.add-to-basket(type='submit') add to shopping bag
      |
      |
      <svg xmlns="http://www.w3.org/2000/svg" width='24' viewBox="0 0 24 24" enable-background="new 0 0 24 24"><style type="text/css">.icon-plus{fill:#FFFFFF;}</style><path class="icon-plus" d="M11 5v6h-6v2h6v6h2v-6h6v-2h-6v-6h-2z"/></svg>
      |
      |
      //- span add to shopping bag

//- применение
//- +product-buy(class='layout--hide')