//- ===  полное текстовое описание продукта ===
  section.product-full-descr.layout--hide

    h4 Size &amp; fit
    ul
      li Fits true to size, take your normal size
      li Cut to be fitted at the bust and waist, slightly loose at the hip
      li Mid-weight, slightly stretchy fabric
      li Those with a curvy figure may wish to take the next size up
      li Model is 175 cm / 5&apos;9&quot; and is wearing a UK 8

    h4 Composition &amp; Care
    ul
      li White cotton-blend
      li Button fastenings through front
      li 96% cotton, 4% elastane
      li Dry clean

    //- переход на страницу условий доставки и возврата 
    |
    |
    a.shipping-return(href='')
      |
      |
      span  Shipping &amp; Returns
      |
      |
      <svg xmlns="http://www.w3.org/2000/svg" width='24' viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class='icon icon-arrow-right' d="M8.6 7.4l4.6 4.6-4.6 4.6 1.4 1.4 6-6-6-6-1.4 1.4z"/></svg>
      //- img.icon.icon-arrow-right(width='24', src='img/icon/icon-arrow-right.svg', alt='')

//- ===  полное текстовое описание продукта ===
mixin product-full-descr()
  section.product-full-descr(class!=attributes.hide)
    h4 Size &amp; fit
    ul
      li Fits true to size, take your normal size
      li Cut to be fitted at the bust and waist, slightly loose at the hip
      li Mid-weight, slightly stretchy fabric
      li Those with a curvy figure may wish to take the next size up
      li Model is 175 cm / 5&apos;9&quot; and is wearing a UK 8

    h4 Composition &amp; Care
    ul
      li White cotton-blend
      li Button fastenings through front
      li 96% cotton, 4% elastane
      li Dry clean

    //- переход на страницу условий доставки и возврата 
    |
    |
    a.shipping-return(href='')
      |
      |
      span  Shipping &amp; Returns
      |
      |
      <svg xmlns="http://www.w3.org/2000/svg" width='24' viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class='icon icon-arrow-right' d="M8.6 7.4l4.6 4.6-4.6 4.6 1.4 1.4 6-6-6-6-1.4 1.4z"/></svg>

//- применение - скрытие блока
  +product-full-descr(hide='layout--hide')