extends ../../templates/_template
block title
  title Kira-Kari

block header
  //- =========== Menu section menu ==================
  include ../../components/_menu
  //- =========== end Menu section menu ==============

block main

  // разметка страницы
  .layout
    // ======== Карточка продукта ========
    main.product
      // основное описание продукта
      section.product-main-descr
        // основное изображение продукта
        picture.product-main-image
          - var imgB = "img/product/balenciaga/";
          //- путь к фото продукта balenciaga
          
          //- source(media= '(min-width: 360px) and (max-width: 599px)' srcset= imgB + "balenciaga-600-1.jpg")
          source(srcset= imgB + "balenciaga-600-1.jpg")
          source(media="(min-width: 600px)", srcset= imgB + "balenciaga-1280-1.jpg")
          |
          |
          img(src= imgB + 'balenciaga-1280-1.jpg', alt='')

      // === основное текстовое описание продукта  ===
      include _product-about
      +product-about(class='layout--hide')

      // === полное описание продукта ===
      section.product-full

        //- одиночное фото продукта
        picture.product-full__image.product-full__image-one
          source(srcset= imgB + "balenciaga-600-2.jpg")
          source(media="(min-width: 600px)", srcset= imgB + "balenciaga-1280-2.jpg")
          |
          |
          img(src= imgB + 'balenciaga-1280-2.jpg', alt='')

        //- два фото продукта рядом
        .product-full__image-pair-container
          picture.product-full__image.product-full__image-pair
            source(srcset= imgB + "balenciaga-600-3.jpg")
            source(media="(min-width: 600px)", srcset= imgB + "balenciaga-1280-3.jpg")
            |
            |
            img(src= imgB + 'balenciaga-1280-3.jpg', alt='')

          picture.product-full__image.product-full__image-pair
            source(srcset= imgB + "balenciaga-600-4.jpg")
            source(media="(min-width: 600px)", srcset= imgB + "balenciaga-1280-3.jpg")
            |
            |
            img(src= imgB + 'balenciaga-1280-4.jpg', alt='')

        //- одиночное фото продукта
        picture.product-full__image.product-full__image-one
          source(srcset= imgB + "balenciaga-600-5.jpg")
          source(media="(min-width: 600px)", srcset= imgB + "balenciaga-1280-5.jpg")
          |
          |
          img(src= imgB + 'balenciaga-1280-5.jpg', alt='')          

        // === полное текстовое описание продукта
        include _product-full-text-description
  
        // слайдер продукта
        include _product-slider
        +productSlider(class='layout--hide')

      // выбор размера продукта и добавление в корзину product-add-to-shopbag
      include _product-buy
      +product-buy(class='layout--hide')

      // ============ карточки продуктов =============
      section.product-items
        // заголовок раздела
        h3.product-title How to wear it

        // контейнер для маленьких карточек продуктов
        .product-items-container
        
          include ../../components/_product-card-small.pug
          //- маленькая карточка продукта с описание и ценой
          +productCardSmall('fendi', 'fendi-1-01.jpg', 'Fendi', 'Zoe cutout cotton-blend dress', 2773.95)    
          //- маленькая карточка продукта с описание и ценой
          +productCardSmall('acne-studios', 'acne-studios-1-02.jpg', 'Acne Studios', 'Silk white dress', 487.95)    

          //- маленькая карточка продукта с описание и ценой
          +productCardSmall('acne-studios', 'acne-studios-1-02.jpg', 'Oscar de la Renta', 'Silk dress', 2773.95)

          //- маленькая карточка продукта с описание и ценой
          +productCardSmall('oskar-de-la-renta', 'oskar-de-la-renta-1-01.jpg', 'Acne Studios', 'Flowerbed ruffle trimmed embroidered tulle gown', 487.95)

    // =========== боковой контент на десктопе =============
    aside.dt-right-content.layout--hide-aside

      // side основное текстовое описание продукта
      include _product-about
      +product-about

      // aside выбор размера продукта и добавление в корзину
      include _product-buy
      +product-buy

      // aside полное текстовое описание продукта
      include _product-full-text-description
      +product-full-descr(hide='layout--hide')

      // aside слайдер продукта 
      include _product-slider
      +productSlider
  |
  |
  // ============= Footer section =============
  footer.main-footer
    .main-footer-content

  // меню на мобильном
  include ../../components/_menu-mobile