// глобальная разметка в flex
.layout
  @media screen and (min-width: $lg) // iPad air 1024px
    width: 890px
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  @media screen and (min-width: $xl)  // desktop 1280px
    width: 1080px

  // layout--hide скрытие блоков в планшет и десктопной  версии
  &--hide  // layout--hide
    @media screen and (min-width: $lg - 1px)  // iPad air 1024px
    display: none
  
    &-aside // layout--hide-aside
      @media screen and (max-width: $lg - 1px)  // iPad air 1024px
      display: none