extends ../../templates/_template block title title Kira-Kari block header //- =========== Menu section menu ================== include ../../components/_menu //- =========== end Menu section menu ============== block main
<!-- =========== Menu section menu ==================-->
<section class="main-menu">
  <!-- обертка для верхнего меню-->
  <div class="wrapper">
    <!-- навигация-->
    <nav class="main-nav">
      <div class="logo"><a href="index.html"><img src="img/kira-keri-logo.svg" alt="KIRA-KERI" width="224" srcset=""/></a></div>
      <!-- левая часть меню-->
      <div class="main-nav--left"><a class="nav-item nav-item__top nav-item__top--1" href="#shop"><img src="img/icon/icon-shop.svg" alt="" sizes="24" srcset=""/><span>Shop</span></a><a class="nav-item nav-item__top nav-item__top--2" href="#designers"><img src="img/icon/icon-designers.svg" alt="" sizes="24" srcset=""/><span>Designers</span></a><a class="nav-item nav-item__top nav-item__top--3" href="search"><img src="img/icon/icon-search.svg" alt="" sizes="24" srcset=""/><span>Search</span></a></div>
      <!-- end левая часть меню-->
      <!-- правая часть меню-->
      <div class="main-nav--right"><a class="nav-item nav-item__top nav-item__top--4" href="#wish_list"><img src="img/icon/icon-star.svg" alt="" sizes="24&quot;&quot;" srcset=""/><span>Wish list</span></a><a class="nav-item nav-item__top nav-item__top--5" href="#account"><img src="img/icon/icon-account.svg" alt="" sizes="24" srcset=""/><span>Account</span></a><a class="nav-item nav-item__top nav-item__top--6" href="#bag"><img src="img/icon/icon-bag.svg" alt="" sizes="24" srcset=""/><span>Bag</span></a></div>
      <!-- правая часть меню-->
    </nav>
    <!-- end навигация-->
  </div>
</section>
<!-- =========== end Menu section menu ==============-->
<!-- разметка страницы-->
<div class="layout">
  <!-- ======== Карточка продукта ========-->
  <main class="product">
    <!-- основное описание продукта-->
    <section class="product-main-descr">
      <!-- основное изображение продукта-->
      <picture class="product-main-image">
        <source class="product-main-image--mob" srcset="" media=""/><img src="" alt=""/>
      </picture>
    </section>
    <!-- === основное текстовое описание продукта  ===-->
    <section class="product-about layout--hide">
      <header class="product-about-header">
        <!-- иконка шаринг в соцсети-->
        <button class="icon btn-share" type="submit"><img width="24" src="img/icon/icon-share.svg" alt=""/></button>
        <!-- название продукта-->
        <div class="product-about-top__container">
          <h3 class="product-about-top__header">Balenciaga</h3><span class="product-about-top__subheader">white top</span>
        </div>
        <!-- иконка добавить продукт в изранное-->
        <button class="icon btn-star" type="submit"><img width="24" src="img/icon/icon-star.svg" alt=""/></button>
      </header>
      <!-- текстовая часть основного описания продукта-->
      <p class="product-about__text">A nod to &apos;40s silhouettes, Saloni&apos;s dress has a nipped-in waist and falls to a universally flattering A-line skirt.</p>
      <!-- код продукта--><span class="product-about__code">#KK032571</span>
    </section>
    <!-- end основное текстовое описание продукта-->
    <!-- ===  end основное описание продукта ===-->
    <!-- === полное описание продукта ===-->
    <section class="product-full">
      <!-- === одиночное фото продукта ===-->
      <!-- блок используется в product-list-->
      <picture class="product-full__image product-full__image-one product-full__image--2">
        <source srcset="" type="image/"/><img src="" alt="" sizes="" srcset=""/>
      </picture>
      <!-- === одиночное фото продукта ===-->
      <!-- два фото продукта рядом-->
      <div class="product-full__image-pair-container">
        <picture class="product-full__image product-full__image-pair product-full__image--3">
          <source srcset="" type="image/"/><img src="" alt="" sizes="" srcset=""/>
        </picture>
        <picture class="product-full__image product-full__image-pair product-full__image--4">
          <source srcset="" type="image/"/><img src="" alt="" sizes="" srcset=""/>
        </picture>
      </div>
      <!-- одиночное фото продукта-->
      <picture class="product-full__image product-full__image-one product-full__image--5">
        <source srcset="" type="image/"/><img src="" alt="" sizes="" srcset=""/>
      </picture>
    </section>
    <!-- ===  полное текстовое описание продукта ===-->
    <section class="product-full-descr layout--hide">
      <h4 class="product-full-descr__title">Size &amp; fit</h4>
      <p class="product-full-descr__text">
        <ul class="product-full-descr__list">
          <li class="product-full-descr__list-item">Fits true to size, take your normal size</li>
          <li class="product-full-descr__list-item">Cut to be fitted at the bust and waist, slightly loose at the hip</li>
          <li class="product-full-descr__list-item">Mid-weight, slightly stretchy fabric</li>
          <li class="product-full-descr__list-item">Those with a curvy figure may wish to take the next size up</li>
          <li class="product-full-descr__list-item">Model is 175 cm / 5&apos;9&quot; and is wearing a UK 8</li>
        </ul>
      </p>
      <h4 class="product-full-descr__title">Composition &amp; Care</h4>
      <p class="product-full-descr__text">
        <ul class="product-full-descr__list">
          <li class="product-full-descr__list-item">White cotton-blend</li>
          <li class="product-full-descr__list-item">Button fastenings through front</li>
          <li class="product-full-descr__list-item">96% cotton, 4% elastane</li>
          <li class="product-full-descr__list-item">Dry clean</li>
        </ul>
      </p><a class="shipping-return" href=""><span> Shipping &amp; Returns</span><img class="icon icon-arrow-right" width="24" src="img/icon/icon-arrow-right.svg" alt=""/></a>
    </section>
    <!-- === end полное текстовое описание продукта ===-->
    <!-- end полное описание продукта-->
    <!-- === слайдер продукта ===-->
    <section class="product-slider layout--hide">
      <h3 class="product__title">Style it</h3>
      <!-- контейнер для слайдера на странице карточки/описания продукта-->
      <div class="product-slider__container">
        <!-- контейнер для фото слайдера на странице карточки/описания продукта-->
        <div class="product-slider__container-image">
          <picture class="product-image product-slider-image">
            <source srcset="" type="image/"/><img src="" alt="" sizes="" srcset=""/>
          </picture>
        </div>
        <!-- отметка из социальной сети-->
        <div class="product-slider__share"><a class="product-slider__social">@marialopes</a> style it</div>
        <!-- управление страницами слайдера-->
        <nav class="product-slider__nav">
          <button class="product-slider__nav-item"></button>
          <button class="product-slider__nav-item"></button>
          <button class="product-slider__nav-item"></button>
          <button class="product-slider__nav-item"></button>
          <button class="product-slider__nav-item"></button>
        </nav>
        <!-- end управление страницами слайдера-->
      </div>
      <!-- end контейнер для слайдера на странице карточки/описания продукта-->
    </section>
    <!-- ===  end слайдер продукта ===-->
    <!-- выбор размера продукта и добавление в корзину product-add-to-shopbag-->
    <section class="product-buy layout--hide">
      <!-- цена продукта-->
      <div class="product__price">210.00 &euro;</div>
      <!-- выбор размера продукта-->
      <div class="product__size-container">
        <label class="product__size-label" for="select-size"></label>
        <select class="product__size-field" id="select-size" name="select-size">
          <option class="option-first" value="">Size</option>
          <option class="select-option" value="40">40</option>
          <option class="select-option" value="41">41</option>
          <option class="select-option" value="42">42</option>
          <option class="select-option" value="43">43</option>
        </select><img class="icon icon-arrow-down" width="24" src="img/icon/icon-arrow-down.svg" alt=""/>
      </div>
      <!-- end выбор размера продукта-->
      <!-- добавление продукта в корзину-->
      <button class="btn add-to-basket" type="submit"><img class="icon-plus" width="24" src="img/icon/icon-plus.svg" alt=""/><span>add to shopping bag</span></button>
      <!-- end добавление продукта в корзину-->
    </section>
    <!-- ============ карточки продуктов =============-->
    <section class="product-items">
      <!-- заголовок раздела-->
      <h3 class="product__title">How to wear it</h3>
      <!-- контейнер для маленьких карточек продуктов-->
      <div class="product-items-container">
        <!-- маленькая карточка продукта с описание и ценой-->
        <article class="product-item">
          <picture class="product-item__image product-item__image--1">
            <!-- <source srcset="" type="image/">-->
            <!-- <img src="" alt="" sizes="" srcset="">-->
          </picture>
          <div class="product-item__descr">
            <h4 class="product-item__title">Fendi</h4>
            <p class="product-item__text">Zoe cutout cotton-blend dress</p><span class="product-item__price">2773.95 &euro;</span>
          </div>
        </article>
        <!-- end маленькая карточка продукта с описание и ценой-->
        <!-- маленькая карточка продукта с описание и ценой-->
        <article class="product-item">
          <picture class="product-item__image product-item__image--2">
            <source srcset="" type="image/"/><img src="" alt="" sizes="" srcset=""/>
          </picture>
          <div class="product-item__descr">
            <h4 class="product-item__title">Acne Studios</h4>
            <p class="product-item__text">Silk white dress</p><span class="product-item__price">487.95 &euro;</span>
          </div>
        </article>
        <!-- маленькая карточка продукта с описание и ценой-->
        <!-- end  маленькая карточка продукта с описание и ценой-->
        <article class="product-item">
          <picture class="product-item__image product-item__image--3">
            <source srcset="" type="image/"/><img src="" alt="" sizes="" srcset=""/>
          </picture>
          <div class="product-item__descr">
            <h4 class="product-item__title">Oscar de la Renta</h4>
            <p class="product-item__text">Silk dress</p><span class="product-item__price">2773.95 &euro;</span>
          </div>
        </article>
        <!-- маленькая карточка продукта с описание и ценой-->
        <!-- end  маленькая карточка продукта с описание и ценой-->
        <article class="product-item">
          <picture class="product-item__image product-item__image--4">
            <source srcset="" type="image/"/><img src="" alt="" sizes="" srcset=""/>
          </picture>
          <div class="product-item__descr">
            <h4 class="product-item__title">Acne Studios</h4>
            <p class="product-item__text">Flowerbed ruffle trimmed embroidered tulle gown</p><span class="product-item__price">487.95 &euro;</span>
          </div>
        </article>
        <!-- end  маленькая карточка продукта с описание и ценой-->
      </div>
    </section>
    <!-- ============ end карточки продуктов =============-->
  </main>
  <!-- =========== боковой контент на десктопе =============-->
  <aside class="dt-right-content layout--hide-aside">
    <!-- основное текстовое описание продукта-->
    <section class="product-about">
      <header class="product-about-header">
        <!-- иконка шаринг в соцсети-->
        <button class="icon btn-share" type="submit"><img width="24" src="img/icon/icon-share.svg" alt=""/></button>
        <!-- название продукта-->
        <div class="product-about-top__container">
          <h3 class="product-about-top__header">Balenciaga</h3><span class="product-about-top__subheader">white top</span>
        </div>
        <!-- иконка добавить продукт в изранное-->
        <button class="icon btn-star" type="submit"><img width="24" src="img/icon/icon-star.svg" alt=""/></button>
      </header>
      <!-- текстовая часть основного описания продукта-->
      <p class="product-about__text">A nod to &apos;40s silhouettes, Saloni&apos;s dress has a nipped-in waist and falls to a universally flattering A-line skirt.</p>
      <!-- код продукта--><span class="product-about__code">#KK032571</span>
    </section>
    <!-- end основное текстовое описание продукта-->
    <!-- выбор размера продукта и добавление в корзину-->
    <!-- product-add-to-shopbag-->
    <section class="product-buy">
      <!-- цена продукта-->
      <div class="product__price">210.00 &euro;</div>
      <!-- выбор размера продукта-->
      <div class="product__size-container">
        <label class="product__size-label" for="select-size"></label>
        <select class="product__size-field" id="select-size" name="select-size">
          <option class="option-first" value="">Size</option>
          <option class="select-option" value="40">40</option>
          <option class="select-option" value="41">41</option>
          <option class="select-option" value="42">42</option>
          <option class="select-option" value="43">43</option>
        </select><img class="icon icon-arrow-down" width="24" src="img/icon/icon-arrow-down.svg" alt=""/>
      </div>
      <!-- добавление продукта в корзину-->
      <button class="btn add-to-basket" type="submit"><img class="icon-plus" width="24" src="img/icon/icon-plus.svg" alt=""/><span>add to shopping bag</span></button>
    </section>
    <!-- end выбор размера продукта  и добавление в корзину-->
    <!-- полное текстовое описание продукта-->
    <section class="product-full-descr">
      <h4 class="product-full-descr__title">Size &amp; fit</h4>
      <p class="product-full-descr__text">
        <ul class="product-full-descr__list">
          <li class="product-full-descr__list-item">Fits true to size, take your normal size</li>
          <li class="product-full-descr__list-item">Cut to be fitted at the bust and waist, slightly loose at the hip</li>
          <li class="product-full-descr__list-item">Mid-weight, slightly stretchy fabric</li>
          <li class="product-full-descr__list-item">Those with a curvy figure may wish to take the next size up</li>
          <li class="product-full-descr__list-item">Model is 175 cm / 5&apos;9&quot; and is wearing a UK 8</li>
        </ul>
      </p>
      <h4 class="product-full-descr__title">Composition &amp; Care</h4>
      <p class="product-full-descr__text">
        <ul class="product-full-descr__list">
          <li class="product-full-descr__list-item">White cotton-blend</li>
          <li class="product-full-descr__list-item">Button fastenings through front</li>
          <li class="product-full-descr__list-item">96% cotton, 4% elastane</li>
          <li class="product-full-descr__list-item">Dry clean</li>
        </ul>
      </p><a class="shipping-return" href=""><span> Shipping &amp; Returns</span><img class="icon icon-arrow-right" width="24" src="img/icon/icon-arrow-right.svg" alt=""/></a>
    </section>
    <!-- end полное текстовое описание продукта-->
    <!-- слайдер продукта-->
    <section class="product-slider">
      <h3 class="product__title">Style it</h3>
      <!-- контейнер для слайдера на странице карточки/описания продукта-->
      <div class="product-slider__container">
        <!-- контейнер для фото слайдера на странице карточки/описания продукта-->
        <div class="product-slider__container-image">
          <picture class="product-image product-slider-image">
            <source srcset="" type="image/"/><img src="" alt="" sizes="" srcset=""/>
          </picture>
        </div>
        <!-- отметка из социальной сети-->
        <div class="product-slider__share"><a class="product-slider__social">@marialopes</a> style it</div>
        <!-- управление страницами слайдера-->
        <nav class="product-slider__nav">
          <button class="product-slider__nav-item"></button>
          <button class="product-slider__nav-item"></button>
          <button class="product-slider__nav-item"></button>
          <button class="product-slider__nav-item"></button>
          <button class="product-slider__nav-item"></button>
        </nav>
        <!-- end управление страницами слайдера-->
      </div>
      <!-- end контейнер для слайдера на странице карточки/описания продукта-->
    </section>
    <!-- end слайдер продукта-->
  </aside>
  <!-- =========== end боковой контент на десктопе =============-->
</div>
<!-- ======== end Карточка продукта ========-->
<!-- end разметка страницы-->
<!-- ============= Footer section =============-->
<footer class="main-footer">
  <div class="main-footer-content"></div>
</footer>
<!-- меню на мобильном-->
<section class="menu-bottom">
  <div class="wrapper-mob">
    <div class="mob-nav"><a class="nav-item nav-item__bottom nav-item__bottom--1" href="#shop"><img src="img/icon/icon-shop.svg" alt="" sizes="24" srcset=""/><span>Shop</span></a><a class="nav-item nav-item__bottom nav-item__bottom--2" href="#designers"><img src="img/icon/icon-designers.svg" alt="" sizes="24" srcset=""/><span>Designers</span></a><a class="nav-item nav-item__bottom nav-item__bottom--3" href="search"><img src="img/icon/icon-search.svg" alt="" sizes="24" srcset=""/><span>Search</span></a><a class="nav-item nav-item__bottom nav-item__bottom--4" href="#wish_list"><img src="img/icon/icon-star.svg" alt="" sizes="24&quot;&quot;" srcset=""/><span>Wish list</span></a><a class="nav-item nav-item__bottom nav-item__bottom--5" href="#account"><img src="img/icon/icon-account.svg" alt="" sizes="24" srcset=""/><span>Account</span></a><a class="nav-item nav-item__bottom nav-item__bottom--6" href="#bag"><img src="img/icon/icon-bag.svg" alt="" sizes="24" srcset=""/><span>Bag</span></a></div>
  </div>
</section>