
<section class="product-buy">
  <!-- цена продукта-->
  <div class="product__price">210.00 &euro;</div>
  <!-- выбор размера продукта-->
  <div class="product__size-container">
    <label class="product__size-label" for="select-size"></label>
    <select class="product__size-field" id="select-size" name="select-size">
      <option class="option-first" value="">Size</option>
      <option class="select-option" value="40">40</option>
      <option class="select-option" value="41">41</option>
      <option class="select-option" value="42">42</option>
      <option class="select-option" value="43">43</option>
    </select><img class="icon icon-arrow-down" width="24" src="img/icon/icon-arrow-down.svg" alt=""/>
  </div>
  <!-- добавление продукта в корзину-->
  <button class="btn add-to-basket" type="submit"><img class="icon-plus" width="24" src="img/icon/icon-plus.svg" alt=""/><span>add to shopping bag</span></button>
</section>