
<section class="product-about">
  <header class="product-about-header">
    <!-- иконка шаринг в соцсети-->
    <button class="icon btn-share" type="submit"><img width="24" src="img/icon/icon-share.svg" alt=""/></button>
    <!-- название продукта-->
    <div class="product-about-top__container">
      <h3 class="product-about-top__header">Balenciaga</h3><span class="product-about-top__subheader">white top</span>
    </div>
    <!-- иконка добавить продукт в изранное-->
    <button class="icon btn-star" type="submit"><img width="24" src="img/icon/icon-star.svg" alt=""/></button>
  </header>
  <!-- текстовая часть основного описания продукта-->
  <p class="product-about__text">A nod to &apos;40s silhouettes, Saloni&apos;s dress has a nipped-in waist and falls to a universally flattering A-line skirt.</p>
  <!-- код продукта--><span class="product-about__code">#KK032571</span>
</section>