
<!-- ===  полное текстовое описание продукта ===-->
<section class="product-full-descr layout--hide">
  <h4 class="product-full-descr__title">Size &amp; fit</h4>
  <p class="product-full-descr__text">
    <ul class="product-full-descr__list">
      <li class="product-full-descr__list-item">Fits true to size, take your normal size</li>
      <li class="product-full-descr__list-item">Cut to be fitted at the bust and waist, slightly loose at the hip</li>
      <li class="product-full-descr__list-item">Mid-weight, slightly stretchy fabric</li>
      <li class="product-full-descr__list-item">Those with a curvy figure may wish to take the next size up</li>
      <li class="product-full-descr__list-item">Model is 175 cm / 5&apos;9&quot; and is wearing a UK 8</li>
    </ul>
  </p>
  <h4 class="product-full-descr__title">Composition &amp; Care</h4>
  <p class="product-full-descr__text">
    <ul class="product-full-descr__list">
      <li class="product-full-descr__list-item">White cotton-blend</li>
      <li class="product-full-descr__list-item">Button fastenings through front</li>
      <li class="product-full-descr__list-item">96% cotton, 4% elastane</li>
      <li class="product-full-descr__list-item">Dry clean</li>
    </ul>
  </p><a class="shipping-return" href=""><span> Shipping &amp; Returns</span><img class="icon icon-arrow-right" width="24" src="img/icon/icon-arrow-right.svg" alt=""/></a>
</section>