//  Функции Sass

/// Уделение единиц длины
/// @param {Number} $number - Число удаления единицы длины
/// @return {Number} - Безразмерное число
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// вариант использования
/// https://codepen.io/anon/pen/vNJMLY
$unit: 24px;
$body-font-size: 0.67rem;

// CODE FROM HUGO GIRAUDEL
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

// CODE FROM ALEXANDRE PIGEOT
@mixin convert($property, $value) {
  // IE polyfill
  $stripped: strip-unit($value);
  #{$property}: $stripped * $unit;
  
  // Proper value
  #{$property}: $value;
}

// Использование цикла при определении классов

@for $i from 1 through 3
  .item-#{$i}
    width: 2em * $i
    
.item-1 {
  width: 2em; }

.item-2 {
  width: 4em; }

.item-3 {
  width: 6em; }