// Помощники классов & placeholder’ов


// верстка на странице product-list
%product-list-layout
  @media screen and (min-width: $sm)   // 360px mobile Galaxy S8
    max-width: none
    width: 360px
    // height: 450px

  @media screen and (min-width: $md)  // 7' Tablet более 600px
    width: 600px
    // height: 730px

  @media screen and (min-width: $lg) // iPad air  более 1024px
    width: 890px
    // height: 1077px

  @media screen and (min-width: $xl)  // desktop  более 1280px
    width: 1080px
    // height: 1304px

//  высота меню см. variables
%menu-height
  height: $menu-height1 + px
  @media screen and (min-width: $md) // 600px
    height: $menu-height2 + px
  @media screen and (min-width: $lg) // 1024px
    height: $menu-height3 + px