// анимация
=animation($animName)
  animation-name: $animName
  animation-duration: 0.8s
  // animation-delay: 500ms
  transition-timing-function: cubic-bezier(0.585, 0.165, 0.350, 0.985)
  // animation-fill-mode: 

// точка перехода для медиа-запросов 
=media($width)
  @media screen and (min-width: $width)
    @content

// для фоновых изображений продукта и иконок
=bg 
  background:
    repeat: no-repeat
    position: center
    size: cover

// глобальный паддинг для мобильного
$glob-padd: 16 + 0px
=glob-padd($glob-padd)
  padding:
    right: $glob-padd
    left: $glob-padd

// отображение элемента
=appearance
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

// =icon-gb()// для иконок в бэкграунде
//   display: inline-block
//   background-repeat: no-repeat
//   background-position: center
//   background-size: 100%

// адаптивные фото всех моделей одежды
// =photo-product
//   &--1 // фото продукта Fendi
//     background-image: url("#{$img-list}Fendi/Fendi-360.jpg")
//     @media screen and (min-width: $sm)  // 360px mobile Galaxy S8 до 7' Tablet 600px
//       background-image: url("#{$img-list}Fendi/Fendi-600.jpg")
//     @media screen and (min-width: $md)  // 7' Tablet более 600px
//       background-image: url("#{$img-list}Fendi/Fendi-1024.jpg")
//     @media screen and (min-width: $lg) // iPad air  более 1024px
//       background-image: url("#{$img-list}Fendi/Fendi-1280.jpg")
//   &--2 // фото продукта Acne
//     background-image: url("#{$img-list}Acne-Studios/Acne-Studios-1-360.jpg")
//     @media screen and (min-width: $sm)  // 360px mobile Galaxy S8 до 7' Tablet 600px
//       background-image: url("#{$img-list}Acne-Studios/Acne-Studios-1-600.jpg")
//     @media screen and (min-width: $md)  // 7' Tablet более 600px
//       background-image: url("#{$img-list}Acne-Studios/Acne-Studios-1-1024.jpg")
//     @media screen and (min-width: $lg) // iPad air  более 1024px
//       background-image: url("#{$img-list}Acne-Studios/Acne-Studios-1-1280.jpg")  
//   &--4 // фото продукта Oskar-de-la-Renta
//     background-image: url("#{$img-list}Oskar-de-la-Renta/Oskar-de-la-Renta-360.jpg")
//     @media screen and (min-width: $sm)  // 360px mobile Galaxy S8 до 7' Tablet 600px
//       background-image: url("#{$img-list}Oskar-de-la-Renta/Oskar-de-la-Renta-600.jpg")
//     @media screen and (min-width: $md)  // 7' Tablet более 600px
//       background-image: url("#{$img-list}Oskar-de-la-Renta/Oskar-de-la-Renta-1024.jpg")
//     @media screen and (min-width: $lg) // iPad air  более 1024px
//       background-image: url("#{$img-list}Oskar-de-la-Renta/Oskar-de-la-Renta-1280.jpg")   
//   &--3 // фото продукта Acne2
//     background-image: url("#{$img-list}Acne-Studios/Acne-Studios-2-360.jpg")
//     @media screen and (min-width: $sm)  // 360px mobile Galaxy S8 до 7' Tablet 600px
//       background-image: url("#{$img-list}Acne-Studios/Acne-Studios-2-600.jpg")
//     @media screen and (min-width: $md)  // 7' Tablet более 600px
//       background-image: url("#{$img-list}Acne-Studios/Acne-Studios-2-1024.jpg")
//     @media screen and (min-width: $lg) // iPad air  более 1024px
//       background-image: url("#{$img-list}Acne-Studios/Acne-Studios-2-1280.jpg")