extends templates/_template
//- include ../utils/_mixins
//- include components/_project-card.pug
block title
  title Kira-Kari
  //- block style-link

block header
  //- include components/_header  

block main

  //- =========== Menu section menu ==================
  include components/_menu
  //- =========== end Menu section menu ==============

  // ============= Footer section =============
  footer.main-footer
    .main-footer-content
  // ============= end Footer section =============

  //- меню на мобильном
  include components/_menu-mobile
  //- end меню на мобильном