extends templates/_template
//- include ../utils/_mixins
//- include components/_project-card.pug
block title
  title Kira-Kari
//- block style-link

block header
  include components/_header

block main
  main.main-content
    //- //- первая секция "have-you"
    //- include pages/main/_have-you.pug
    //- //- секция проектов (projects) на главной странице
    //- include pages/main/_main-projects.pug

    //- //- секция Read about low-energy Энергосбережение
    //- include pages/main/_low-energy.pug

    //- //- секция testimonials Отзывы
    //- include pages/main/_main-testimonials.pug

    //- //- блок какого-то текста на главной странице
    //- include pages/main/_main-some-text.pug

  //- //- подвал
  //- include templates/_footer.pug