//- меню на мобильном
section.menu-bottom
  .wrapper-mob
    .mob-nav
      |
      |
      a.nav-item.nav-item__bottom.nav-item__bottom--1(href='#shop')
        img(src='img/icon/icon-shop.svg', alt='', sizes='24')
        span Shop
      |
      |
      a.nav-item.nav-item__bottom.nav-item__bottom--2(href='#designers')
        img(src='img/icon/icon-designers.svg', alt='', sizes='24')
        span Designers
      |
      |
      a.nav-item.nav-item__bottom.nav-item__bottom--3(href='search')
        img(src='img/icon/icon-search.svg', alt='', sizes='24')
        span Search
      |
      |
      a.nav-item.nav-item__bottom.nav-item__bottom--4(href='#wish_list')
        img(src='img/icon/icon-star.svg', alt='', sizes='24""')
        span Wish list
      |
      |
      a.nav-item.nav-item__bottom.nav-item__bottom--5(href='#account')
        img(src='img/icon/icon-account.svg', alt='', sizes='24')
        span Account
      |
      |
      a.nav-item.nav-item__bottom.nav-item__bottom--6(href='#bag')
        img(src='img/icon/icon-bag.svg', alt='', sizes='24')
        span Bag