// =========== Menu section menu ==================
header.main-menu
  // обертка для верхнего меню
  .main-menu__wrapper
    // навигация
    nav.main-nav
      .logo
        a.logo-link(href='index.html')
          img(src='img/kira-keri-logo.svg', alt='KIRA-KERI', width='224', srcset='')

      // левая часть меню
      .main-nav__left
        a.nav-item.nav-item__top.nav-item__top-1(href='#shop')
          img(src='img/icon/icon-shop.svg', alt='', sizes='24', srcset='')  
          span Shop                     
        a.nav-item.nav-item__top.nav-item__top-2(href='#designers')
          img(src='img/icon/icon-designers.svg', alt='', sizes='24', srcset='')         
          span Designers

        // Поиск
        a.nav-item.nav-item__top.nav-item__top-3(href='#search')
          |
          |
          img(src='img/icon/icon-search.svg', sizes='24')
          //- <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path d="M11.6 4.8c-3.8 0-6.9 3.1-6.9 6.9 0 3.8 3.1 6.9 6.9 6.9 1.8 0 3.4-.7 4.6-1.8l4.1 4.1c.2.2.6.2.9 0 .2-.2.2-.6 0-.9l-4.1-4.1c.9-1.2 1.4-2.6 1.4-4.2 0-3.8-3.1-6.9-6.9-6.9zm-5.6 6.9c0-3.1 2.5-5.6 5.6-5.6 3.1 0 5.6 2.5 5.6 5.6 0 3.1-2.5 5.6-5.6 5.6-3.1 0-5.6-2.5-5.6-5.6z"/></svg>
          |
          |  
          span Search
          
          // форма поиска
          article.search-form-container
            form.search-form(action='/', method='post')
              label                             
              input.search-field(type='search', name='search-field', placeholder='Enter search phrase...', autofocus='')                             
              button.search-submit(type='submit', value='')

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class="icon-search" d="M11.6 4.8c-3.8 0-6.9 3.1-6.9 6.9 0 3.8 3.1 6.9 6.9 6.9 1.8 0 3.4-.7 4.6-1.8l4.1 4.1c.2.2.6.2.9 0 .2-.2.2-.6 0-.9l-4.1-4.1c.9-1.2 1.4-2.6 1.4-4.2 0-3.8-3.1-6.9-6.9-6.9zm-5.6 6.9c0-3.1 2.5-5.6 5.6-5.6 3.1 0 5.6 2.5 5.6 5.6 0 3.1-2.5 5.6-5.6 5.6-3.1 0-5.6-2.5-5.6-5.6z"/></svg>

      // правая часть меню
      .main-nav__right
        a.nav-item.nav-item__top.nav-item__top-4(href='#wish_list')
          img(src='img/icon/icon-star.svg', alt='', sizes='24', srcset='')          
          span Wish list                     
        a.nav-item.nav-item__top.nav-item__top-5(href='#account')
          img(src='img/icon/icon-account.svg', alt='', sizes='24', srcset='')      
          span Account                    
        a.nav-item.nav-item__top.nav-item__top-6(href='#bag')
          img(src='img/icon/icon-bag.svg', alt='', sizes='24', srcset='')        
          span Bag

// =========== end Menu section menu ==============