//- миксин с минимальными классами в блоке 
mixin productCardSmall(imgFolder, img, title, text, price)
  article.product-item
    |
    |
    img.product-item__image(src= 'img/product-list/' + imgFolder + '/' + img sizes="")
    
    .product-item-description
      h4= title                   
      p= text
      |
      |
      p #{price} &euro;

//- end маленькая карточка продукта с описание и ценой
//- применение
  +productCardSmall('1', 'fendi', 'fendi.png', 'Fendi', 'Zoe cutout cotton-blend dress', 2773.95)