html
  font:
    family: $font-family
    size: $font-size * 1px
    weight: $font-weight
  line-height: $line-height
  color: $font-color

a
  color: inherit

.main-container
  padding-bottom: $menu-height1 + 0px
  // 600px
  @media screen and (min-width: $md)
    padding-bottom: $menu-height2 + 0px
  // 1024px
  @media screen and (min-width: $lg)
    padding-bottom: $menu-height3 + 0px
    // 1280px  
  @media screen and (min-width: $xl)
    padding-bottom: 0

// стиль карточки, описание продукта
.product-item-description
  // &__descr
  // $gl1
  text-align: center
  margin: 0 auto
  margin-top: 34px
  +glob-padd($glob-padd)
  // 16px глобальный паддинг для мобильного

  line-height: 20px

  // наименование товара
  h4
    @extend %font-title

  // описание продукта
  p
    @extend %font-simple

  // цена продукта
  p:last-child
    @extend %font-price