// основной фонт
$font-family: 'Rubik', 'Roboto', sans-serif

// основной фонт цвет
$font-black: #000000
$font-color: $font-black

// основной фонт - размер 14?
$font-size: 16

// основной фонт - межстрочное расстояние
$line-height: 1.2

// основной фонт - вес
$font-weight: 400
// 
  light 300
  regular 400
  medium 500
  bold 700
  black 900


// =name(args) mixin для шрифта
// =font($font-family, $font-color, $font-size, $line-height, $font-weight)

// стили для любого шрифта
=font($line-height: $line-height, $font-size: $font-size, $font-weight: $font-weight)
  line-height: $line-height
  font:
    size: $font-size * 1px
    weight: $font-weight
  @content


// // фонт для разных заголовков
=font-title($line-height, $font-size-any, $font-weight: 500)
  $letter-spacing-any: 4
  font:
    weight: $font-weight
    size: ($font-size / $font-size-any) * 1rem
  line-height: $line-height
  letter-spacing: ($letter-spacing-any / 100) * 1em
  text:
    transform: uppercase
    align: center
  margin: auto


// стили шрифта для меню
%font-menu
  // размер шрифта меню в px
  $font-menu-size: 12
  // расстояние между буквами в %
  $font-menu-letter-sp: 10
  font:
    weight: 500
    size: ($font-menu-size / $font-size) * 1rem
  line-height: 20px
  letter-spacing: ($font-menu-letter-sp / 100) * 1em
  text:
    transform: uppercase
    align: center
  margin: auto

// стили шрифта для текстовых заголовков
%font-title
  // размер шрифта заголовков в px
  $font-title-size: 14
  +media($lg)
    $font-title-size: 16
  // расстояние между буквами в %
  $font-title-letter-sp: 4
  font:
    weight: 700
    size: ($font-title-size / $font-size) * 1rem
  letter-spacing: ($font-title-letter-sp / 100) * 1em
  text:
    transform: uppercase


// стили шрифта для текста в карточках
%font-simple
  // размер шрифта заголовков в px
  $font-simple-size: 11
  +media($lg)
    $font-simple-size: 14
  // расстояние между буквами в %
  $font-simple-letter-sp: 4
  font:
    weight: 400
    size: ($font-simple-size / $font-size) * 1rem
  letter-spacing: ($font-simple-letter-sp / 100) * 1em


// стили шрифта для цены в карточках
%font-price
  // размер шрифта заголовков в px
  $font-simple-size: 12
  +media($lg)
    $font-simple-size: 14
  // расстояние между буквами в %
  $font-simple-letter-sp: 4
  font:
    weight: 400
    size: ($font-simple-size / $font-size) * 1rem
  letter-spacing: ($font-simple-letter-sp / 100) * 1em

// заголовки
.product-title
  +font-title($line-height, $font-size, 500)
  margin-bottom: 21px