// ======== полное описание продукта  
.product-full
  // +gl0
  @media screen and (max-width: $lg - 1px)
    padding-top: 62px
  @media screen and (max-width: $md - 1px)
    padding-top: 48px
  
  &__image
    //$gl1
    overflow: hidden
  
// полное описание продукта два продукта рядом
.product-full
  &__image-pair-container
    //  $gl1
    display: flex
    justify-content: space-between
    margin-bottom: 47px
    @media screen and (max-width: 358px)
      flex-direction: column
      align-items: center
    @media screen and (min-width: $sm) and (max-width: $md)
      width: 360px
      margin: 0 auto
    +media($md)
      width: 600px
      margin: 0 auto
      margin-bottom: 63px
    +media($lg)
      width: 489px
      margin-bottom: 53px
    +media($xl)
      width: 667px
      margin-bottom: 88px

  // два фото продукта рядом 
  &__image-pair
    // +gl2
    flex-basis: 175px
    // max-width: 175px
    height: 210px
    +media($sm)
      flex-basis: auto
      // width: 175px
    +media($md)
      width: 290px
      height: 365px
    +media($lg)
      width: 236px
      height: 300px
    +media($xl)
      width: 324px
      height: 405px

    &:nth-child(odd)
      @media screen and (max-width: 359px)
        margin-bottom: 47px

    img
      // +gl1
      width: 100%
      height: auto
  
// одиночное фото продукта
.product-full__image-one
  margin: 0 auto
  // width: 100%
  margin-bottom: 47px
  @media screen and (min-width: $sm) and (max-width: $md)
    max-width: none
    width: 360px
    height: 448px
  +media($sm)
    margin-bottom: 63px  
  +media($md)
    width: 600px
    height: 748px
  +media($lg)
    width: 489px
    height: 608px
    margin-bottom: 53px
  +media($xl)
    width: 667px
    height: 830px
    margin-bottom: 88px

  img
    width: 100%
    height: auto

//======= полное текстовое описание продукта
.product-full-descr
  // $gl1
  padding: 0 ((20 + $glob-padd) + 0px)
  @media screen and (max-width: $sm)
    padding-bottom: 57px
  
  @media screen and (min-width: $sm) and (max-width: $md)
    width: 360px
    margin: auto
    padding-bottom: 57px
  
  +media($md)
    width: 600px
    margin: auto
    padding-bottom: 74px
  
  +media($lg)
    width: 360px
    padding-bottom: 85px
  
  h4
    line-height: 19 / $font-size + 0em
    +font($line-height, 16, 500)
    margin-bottom: 9px
  
  ul
    +font(1.4, 14, 1.357em)
    margin-bottom: 38px
  
  li
    padding-bottom: 9px
    &::before
      content: "- "
    
// переход на страницу с Условиями возврата и доставки
.shipping-return
  display: block
  font-weight: 500
  display: flex
  align-items: center
  &:hover
    .icon-arrow-right
      +hover
      transform-origin: 0%
      transform: scaleX(1.2)
    
  &:active
    .icon-arrow-right
      +active
      transform: translateX(15px)