// выбор размера продукта и добавление в корзину 
// product-add-to-shopbag
.product-buy
  // +gl0
  height: 112px
  display: flex
  flex-wrap: wrap
  max-width: 100%
  margin-bottom: 55px
  // расстояние до следующего раздела

  // 360px mobile Galaxy S8
  @media screen and (min-width: $sm)
    width: 360px
    margin: 0 auto
    margin-bottom: 65px 
    // расстояние до следующего раздела

  // iPad air 1024px
  @media screen and (min-width: $lg)
    margin-bottom: 74px
    // расстояние до следующего раздела

// TODO: перенести элементы формы в файл форм
// TODO: перенести элементы формы в файл кнопок

// стили рамки
$brd-shop: 1px solid #CACACA 

// цена продукта
.product__price 
  // +gl1
  display: flex
  justify-content: center
  align-items: center
  width: 50%
  height: 56px
  border:
    top: $brd-shop
    right: $brd-shop

  // 360px mobile Galaxy S8
  @media screen and (min-width: $sm) 
    border-left: $brd-shop

// выбор размера продукта
.product__size-container
  //  +gl1
  position: relative
  height: 56px
  width: 50%
  cursor: pointer
  border-top: $brd-shop

  // 360px mobile Galaxy S8
  @media screen and (min-width: $sm)
    border-right: $brd-shop

  &:hover
    background-color: #F0F0F0
    // анимация иконки стрелки выбора размера
    .icon-arrow-down
      +hover() // измнение цвета
      transform-origin: center 0%
      transform: scaleY(1.2)
      transition: all 0.3s ease

  &:active
    // анимация иконки стрелки выбора размера
    .icon-arrow-down
      +active // измнение цвета
      transform: translateY(15px)
      transition: all 0.3s ease

  &-label

//  иконка стрелки выбора размера / анимацию см. выше
.icon-arrow-down 
  position: absolute
  pointer-events: none
  z-index: 1
  top: 16px
  right: 21%

  // 7' Tablet 600px  
  @media screen and (min-width: 500px)
    right: 26%

// кнопка добавление продукта в корзину
.add-to-basket
  // +gl1
  +btn($btn-bg-color)
  position: relative
  height: 56px
  display: flex
  justify-content: center
  flex-grow: 1
  padding-left: 10%

  @media screen and (max-width: 300px)
    font-size: 86%
    letter-spacing: normal

  &:hover
    // .icon-plus
    svg
      // +gl2
      // position: absolute
      // transform: scale(1.6)
      width: 36px
      height: auto
      left: 6%
      top: 50%
      transform: translateY(-50%)
      transition: all 0.3s ease
      @media screen and (max-width: 359px)
        // transform: scale(1.3)
        width: 34px
        left: 5%
        
  &:active
    svg
      // filter: contrast(90%)
      // transform: scale(1.4)
      width: 32px
      height: auto
      left: 6.5%
      transition: all 0.3s ease
      @media screen and (max-width: 359px)
        // transform: scale(1.1)
        width: 32px
        left: 5%
        transition: all 0.3s ease

  // иконка плюс
  svg
    // +gl2
    position: absolute
    left: 8%
    top: 50%
    transform: translateY(-50%)
    // margin-right: 6%
    // +icon-square2(24px)
    fill: white

    @media screen and (max-width: 300px)
      // margin-right: 0 
      // left: 5%
      // +icon-square2(20px)
    &:hover
      // filter: contrast(50%)
  