// секция карточек продуктов
// контейнер для маленьких карточек продуктов
.product-items-container
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  // text-align: center
  @media screen and (max-width: 358px)
    flex-direction: column
    align-items: center

  // 360px mobile Galaxy S8
  +media($sm)
    width: 360px
    margin: 0 auto

  // 7' Tablet более 600px
  +media($md)
    width: 600px

  // iPad air  более 1024px
  +media($lg)
    width: 489px

  // desktop  более 1280px
  +media($xl)
    width: 667px
  
// маленькая карточка продукта с описание и ценой
.product-item
  // $gl0
  margin-bottom: 36px
  width: 175px
  overflow: hidden 

  // 360px mobile Galaxy S8 до 7' Tablet 600px
  +media($sm)
    // width: 360px

  // 7' Tablet более 600px
  +media($md)
    width: 290px

  // iPad air  более 1024px
  +media($lg)
    width: 236px

  // desktop  более 1280px
  +media($xl)
    width: 324px

  &__image
    // $gl1
    display: block
    max-width: 100%
    height: 219px
    +bg()

    // 360px mobile Galaxy S8 до 7' Tablet 600px
    +media($sm)
      // width: 360px

    // 7' Tablet более 600px
    +media($md)
      height: 369px

    // iPad air  более 1024px
    +media($lg)
      height: 300px
  
    // desktop  более 1280px
    +media($xl)
      // width: 326px
      height: 408px
  
    // &--1 // фото продукта
    //   background-image: url("#{$img-all}Fendi-mob.jpg")
  
    // &--2 // фото продукта
    //   background-image: url("#{$img-all}Acne-Studios-mob.jpg")
  
    // &--4 // фото продукта
    //   background-image: url("#{$img-all}Oscar-de-la-Renta-mob.jpg")
  
    // &--3 // фото продукта
    //   background-image: url("#{$img-all}Acne-Studios2-mob.jpg")

    // адаптивные фото всех моделей одежды 
    // +photo-product
  
  // контейнер описания продукта
  // &__descr
  //   // $gl1
  //   text-align: center
  //   margin-top: 17px
  //   +glob-padd($glob-padd)
  //   // 16px глобальный паддинг для мобильного

  // // наименование товара
  // &__title
  //   +font-title(20px, 14, 700) 

  // // описание продукта
  // &__text
  //   +font(14px, 11, $font-weight)
  //   letter-spacing: 14 * 4 / 100 + px
  //   margin-bottom: 6px

  // // цена продукта
  // &__price
  //   +font(14px, 12, $font-weight)