//  ========= слайдер на странице карточки/описания продукта
// .product-title
//   +font-title($line-height, $font-size, 500)
//   margin-bottom: 21px

// слайдер 
.product-slider
  margin-bottom: 55px // расстояние до следующего блока
  padding-right: 20px
  padding-left: 20px

  // фото в слайдере на странице карточки/описания продукта
  &-image
    // +gl3
    width: 100%
    height: 100%
    background-image: url("#{$img-b-sl}balenciaga-mob-slider-1.jpg")
    +bg()
    // 360px mobile Galaxy S8 до 7' Tablet 600px
    @media screen and (min-width: $sm)
      background-image: url("#{$img-b}balenciaga-600-slider-1.jpg")

  // контейнер для фото слайдера на странице карточки/описания продукта
  &__container-image 
    // +gl2
    max-width: 100%
    height: 320px
    margin: auto
    position: relative
    
    // 360px mobile Galaxy S8 до 7' Tablet 600px
    @media screen and (min-width: $sm) and (max-width: $md)  
      max-width: auto
      width: 360px
      height: 360px

    // 7' Tablet более 600px
    +media($md)
      width: 514px
      height: 514px

    // iPad air  более 1024px
    +media($lg)
      width: 320px
      height: 320px

  // контейнер шаринга соцсети
  &__share
    // +gl1
    text-align: center
    margin-bottom: 20px
    margin-top: 28px

  // шаринг соцсети
  &__social
    color: #2F80ED
    cursor: pointer

  // управление слайдером на странице карточки/описания продукта
  &__nav
    // +gl1
    margin: auto
    display: flex
    justify-content: center

  &__nav-item
    width: 10px
    height: 10px
    border-radius: 50%
    margin: 0 5px
    $item-bg-color: #C4C4C4
    background-color: $item-bg-color
    cursor: pointer

    &:hover
      background-color: darken($item-bg-color, 100%) 
      cursor: pointer
      transform: scale(1.4)
      transition: all 0.3s ease

    &:active
      background-color: darken($item-bg-color, 40%)
      cursor: pointer
      transform: scale(1.1)
      transition: all 0.3s ease