// основное описание продукта
.product-main-descr
	
// основное изображение продукта
.product-main-image 
	//$gl1
	max-width: 100%
	height: 448px
	// background-image: url("#{$img-bbalenciaga-mob-1.jpg")
	// не добавлено в source
	+bg
	margin: 0 auto
  
	@media screen and (min-width: $sm) and (max-width: $md)
		// 360px mobile Galaxy S8 до 7' Tablet 600px
		max-width: none
		width: 360px
		height: 448px
		// background-image: url("#{$img}-bbalenciaga-600-1.jpg")

	+media($md)
		// 7' Tablet более 600px
		width: 600px
		height: 748px
		// background-image: url("#{$img}-bbalenciaga-1280-1.jpg")

	+media($lg)
		// iPad air  более 1024px
		width: 489px
		height: 608px
		margin-bottom: 49px

	+media($xl)
		// desktop  более 1280px
		width: 667px
		height: 830px
		margin-bottom: 84px

	img, source 
		width: 100%

// основное текстовое описание продукта
.product-about 
	// $gl1
	text-align: center
	+glob-padd($glob-padd: 16px)
	// глобальный отступ для мобильного

	@media screen and (max-width: 300px)
		+glob-padd($glob-padd: 1%)

	@media screen and (min-width: $sm)
		// mobile Galaxy S8 360px
		width: 360px
		margin: 0 auto      

	@media screen and (min-width: $md)
		// 7' Tablet 600px
		width: 600px
		margin-top: 45px

	@media screen and (min-width: $lg)
		// iPad air 1024px
		width: 360px
		margin-top: 85px
		padding-bottom: 57px

	@media screen and (min-width: $xl)
		// desktop  более 1280px
		// width: 667px

// контейнер верхней части //TODO: смотреть html
.product-about-header
	// $gl2
	height: 73px
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 10px
	margin: 0 auto
	margin-bottom: 15px

	// контейнер для заголовка и подзаголовка
	&__container

		// заголовок
		h3
			// $gl4
			+font(1rem, $font-size, bold)
			letter-spacing: $font-size * 20 / 100 * 1px
		// подзаголовок
		span 
			// $gl4
			+font($line-height, $font-size, $font-weight)
			font-size: 14 / $font-size + 0rem

// TODO: смотреть html
.product-about
	// описание продукта
	p 
		// +gl0
		+font(100%, $font-size, $font-weight)
		padding: 0 20px
		margin: 0 auto
		margin-bottom: 34px
		@media screen and (min-width: $md)
			// 7' Tablet 600px
			width: 432px
			margin-bottom: 36px
	
		@media screen and (min-width: $lg)
			// iPad air 1024px
			width: 304px
			margin-bottom: 36px
	
	// код продукта
	span
		// +gl1

// ---- иконки
// иконка поделиться
.btn-share
	// $gl4
	+icon-square(24px)

	// изменение цвета иконки при наведении
	&:hover
		+hover()

	// изменение цвета иконки при клике
	&:active
		+active()

// иконка добавить в избранное
.btn-star
	// $gl4
	@extend .btn-share

	.icon
	transform: scale()