//- // маленькая карточка продукта с описание и ценой
//- article.product-item.product-list-item
//-   picture.product-list-item__image.product-list-item__image_1
//-     <source srcset="" type="image/">
//-     <img src="" alt="" sizes="" srcset="">

//-   .product-item__descr
//-     h4.product-item__title Fendi                      
//-     p.product-item__text Zoe cutout cotton-blend dress                      
//-     span.product-item__price 2773.95 &euro
//- // end маленькая карточка продукта с описание и ценой

//- используется на странице product-list.pug
//- маленькая карточка продукта с описание и ценой
//- mixin productCardSmall(cardNumber, imgFolder, img, title, text, price)
//-   article.product-item.product-list-item
//-     picture
//-       //- source(srcset="" type="image/")
//-       |
//-       |
//-       img.product-list-item__image(class= 'product-list-item__image_' + cardNumber)(src= 'img/product-list/' + imgFolder + '/' + img sizes="")
    
//-     .product-item__descr
//-       h4.product-item__title= title                      
//-       p.product-item__text= text  
                
//-       span.product-item__price #{price} &euro;

//- //- end маленькая карточка продукта с описание и ценой
//- //- применение
//-   +productCardSmall('1', 'fendi', 'fendi.png', 'Fendi', 'Zoe cutout cotton-blend dress', 2773.95)
//- mixin productCardSmall(imgFolder, img, title, text, price)
//-   article.product-item.product-list-item
//-     picture
//-       //- source(srcset="" type="image/")
//-       |
//-       |
//-       img.product-list-item__image(src= 'img/product-list/' + imgFolder + '/' + img sizes="")
    
//-     .product-item__descr
//-       h4.product-item__title= title                      
//-       p.product-item__text= text  
//-       |
//-       |
//-       span.product-item__price #{price} &euro;

//- end маленькая карточка продукта с описание и ценой
//- применение
  +productCardSmall('1', 'fendi', 'fendi.png', 'Fendi', 'Zoe cutout cotton-blend dress', 2773.95)

//- миксин с минимальными классами в блоке 
mixin productCardSmallList(imgFolder, img, title, text, price)
  article.product-item.product-list-item
    |
    |
    img.product-list-item__image(src= 'img/product-list/' + imgFolder + '/' + img sizes="")
    
    .product-item-description
      h4= title                   
      p= text
      |
      |
      p #{price} &euro;

//- end маленькая карточка продукта с описание и ценой
//- применение
  +productCardSmall('1', 'fendi', 'fendi.png', 'Fendi', 'Zoe cutout cotton-blend dress', 2773.95)