//- <!-- === одиночное фото продукта === -->
//- <!-- блок используется в product-list -->
//-   <article class="product-list-img-one-container">
//-     <picture class="product-full__image product-list__image-one product-list__image_6">
//-         <source srcset="" type="image/">
//-         <img src="" alt="" sizes="" srcset="">
//-       </picture>
//-     <div class="product-item__descr">
//-       <h4 class="product-item__title">Acne Studios</h4>
//-       <p class="product-item__text">Flowerbed ruffle trimmed embroidered tulle gown</p>
//-       <span class="product-item__price">487.95 €</span>
//-     </div>
//-   </article>
//- <!-- === end одиночное фото продукта === -->


//- одиночная карточка продукта с описание и ценой, минимум стилей
mixin productCardSingle(imgFolder, img, title, text, price)
  article.product-list-img-one-container
    picture
      //- source(srcset="" type="image/")
      |
      |      
      img.product-full__image.product-list__image-one(src= 'img/product-list/' + imgFolder + '/' + img sizes="")
    |
    .product-item-description
      h4= title                      
      p= text  
      |  
      |  
      p #{price} &euro;

//- end маленькая карточка продукта с описание и ценой
//- применение
  +productCardSingle('1', 'fendi', 'fendi.png', 'Fendi', 'Zoe cutout cotton-blend dress', 2773.95)