extends ../../templates/_template
block title
  title Kira-Kari

block header
  //- =========== Menu section menu ==================
  include ../../components/_menu
  //- =========== end Menu section menu ==============

block main
  main.product-list

    // ============ карточки продуктов =============
    section.product-items.product-list
      include _product-card-small-list.pug
      include _product-card-single-list.pug
      //- заголовок раздела
      h3.product-title.product-list__title New items
      //- контейнер для маленьких карточек продуктов
      .product-list-items-container

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('fendi', 'fendi-1-01.jpg', 'Fendi', 'Zoe cutout cotton-blend dress', 2773.95)

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('acne-studios', 'acne-studios-1-02.jpg', 'Acne Studios', 'Silk white dress', 487.95)

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('acne-studios', 'acne-studios-1-02.jpg', 'Oscar de la Renta', 'Silk dress', 2773.95)

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('oskar-de-la-renta', 'oskar-de-la-renta-1-01.jpg', 'Acne Studios', 'Flowerbed ruffle trimmed embroidered tulle gown', 487.95)


    // === одиночное фото продукта ===

    +productCardSingle('acne-studios', 'acne-studios-2-01.jpg', 'Acne Studios', 'Flowerbed ruffle trimmed embroidered tulle gown', 487.95)    


    // ============ карточки продуктов =============
    section.product-items
      // заголовок раздела
      h3.product-title How to wear it
      // контейнер для маленьких карточек продуктов
      .product-list-items-container

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('fendi', 'fendi-1-01.jpg', 'Fendi', 'Zoe cutout cotton-blend dress', 2773.95)

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('acne-studios', 'acne-studios-1-01.jpg', 'Acne Studios', 'Silk white dress', 487.95)

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('acne-studios', 'acne-studios-2-1280.jpg', 'Oscar de la Renta', 'Silk dress', 2773.95)

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('oskar-de-la-renta', 'oskar-de-la-renta-1280.jpg', 'Acne Studios', 'Flowerbed ruffle trimmed embroidered tulle gown', 487.95)

    // меню на мобильном
    //- меню на мобильном
    include ../../components/_menu-mobile